@model PasswordResetVm
@{
    Layout = null;
}
<!-- Place favicon.png in the root directory -->
<link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon" />
<!-- Font Icons css -->
<link rel="stylesheet" href="~/assets/css/font-icons.css">
<!-- plugins css -->
<link rel="stylesheet" href="~/assets/css/plugins.css">
<!-- Main Stylesheet -->
<link rel="stylesheet" href="~/assets/css/style.css">
<!-- Responsive css -->
<link rel="stylesheet" href="~/assets/css/responsive.css">
<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="img/bg/14.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">Forgot Password</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->
<!-- LOGIN AREA START (Register) -->
<div class="ltn__login-area pb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area text-center">
                    <h1 class="section-title">Reset <br>Password</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="account-login-inner">
                    <form  class="ltn__form-box contact-form-box" method="post">
                        <input asp-for="Password"  placeholder="Password*">
                        <span class="text-danger" asp-validation-for="Password"></span>
                        <input asp-for="ConfirmPassword" placeholder="ConfirmPassword*">
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        <input asp-for="Email" value="@TempData["Email"]" type="hidden" />
                        <input asp-for="Token" value="@TempData["Token"]" type="hidden" />
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="btn-wrapper">
                            <button class="theme-btn-1 btn reverse-color btn-block" type="submit">Reset password</button>
                        </div>
                    </form>
                    <div class="by-agree text-center">
                        <div class="go-to-btn mt-50">
                            <a asp-action="login" asp-controller="account">Remember your password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- LOGIN AREA END -->
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                        }
