@model CommentCreateVM

<form asp-action="comment" method="post" id="comment_form">
    <h4>Add a Comment</h4>
    <div class="input-item input-item-textarea ltn__custom-icon">
        <textarea asp-for="Text" placeholder="Type your comments...."></textarea>
        <span class="text-danger" asp-validation-for="Text"></span>
    </div>
    <input type="hidden" value="@Model.HouseId" name="HouseId" />
    <div class="btn-wrapper">
        <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Submit</button>
    </div>
</form>